<div>
	<h3>{{$ctrl.title}}</h3>

	<div class="providerBox">
		<h4>Summary</h4>
		PROV_ID: <span class="text">{{$ctrl.provider.summary.PROV_ID}}</span><br>
		HAS_CHANGED: <span class="text">{{$ctrl.provider.summary.HAS_CHANGED}}</span><br>
		CHANGE_TYPE: <span class="text">{{$ctrl.provider.summary.CHANGE_TYPE}}</span><br>
		<br>
		<button type="button" class="btn btn-default" ng-click="$ctrl.rollbackProvider()">Rollback Provider</button>
	</div>

	<div class="providerBox">
		<h4>Address List</h4>
		<div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-default" ng-click="$ctrl.rollbackAllAddress()">Rollback Address</button>
          
        </div><br><br>
		<br>
		<div class="row" ng-repeat="address in $ctrl.provider.addressList">
			<address address="address" address-index="$index"></address>
		</div>
		
		
	</div>
</div>