<div>
	<h3>{{$ctrl.title}}</h3>

	<div class="providerBox">
		<h4>Summary</h4>
		PROV_ID: <span class="text">{{$ctrl.provider.summary.PROV_ID}}</span><br>
		HAS_CHANGED: <span class="text">{{$ctrl.provider.summary.HAS_CHANGED}}</span><br>
		CHANGE_TYPE: <span class="text">{{$ctrl.provider.summary.CHANGE_TYPE}}</span><br>
		<br>
		<button type="button" class="btn btn-default" ng-click="$ctrl.rollbackProvider()">Rollback Provider</button>
	</div>

	<div class="providerBox">
		<h4>Address List</h4>
		<div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-default" ng-click="$ctrl.rollbackAllAddress()">Rollback Address</button>
          
        </div><br><br>
		<br>
		<div class="row" ng-repeat="address in $ctrl.provider.addressList">
			<div class="col-md-6">
				<div class="addressBox">
					<div class="btn-group btn-group-sm" role="group">
			          <button type="button" class="btn btn-default" ng-click="$ctrl.accept()">Accept</button>
			          <button type="button" class="btn btn-default" ng-click="$ctrl.reject()">Reject</button>
			        </div><br><br>
					{{address.staging.STATUS}}<br>
					{{address.staging.ADDR_ID}}<br>
					{{address.staging.PRAD_ADDR1}}<br>
					{{address.staging.PRAD_ADDR2}}<br>
					{{address.staging.PRAD_CITY}}<br>
					{{address.staging.PRAD_STATE}}<br>
					{{address.staging.PRAD_ZIP}}<br>
				</div>
			</div>
			<div class="col-md-6">
				<div class="addressBox">
					<div class="btn-group btn-group-sm" role="group">
			          <button type="button" class="btn btn-default" ng-click="$ctrl.rollback()">Rollback</button>
			          <button type="button" class="btn btn-default" ng-click="$ctrl.onHold()">Put On Hold</button>
			        </div><br><br>
					{{address.master.STATUS}}<br>
					{{address.master.ADDR_ID}}<br>
					{{address.master.PRAD_ADDR1}}<br>
					{{address.master.PRAD_ADDR2}}<br>
					{{address.master.PRAD_CITY}}<br>
					{{address.master.PRAD_STATE}}<br>
					{{address.master.PRAD_ZIP}}<br>

				</div>
			</div>
			
		</div>
		
		
	</div>
</div>