<div>
	<h3>{{$ctrl.title}}</h3>

	<div class="providerBox">
		<h4>Summary</h4>
		PROV_ID: <span class="text">{{$ctrl.provider.summary.PROV_ID}}</span><br>
		HAS_CHANGED: <span class="text">{{$ctrl.provider.summary.HAS_CHANGED}}</span><br>
		CHANGE_TYPE: <span class="text">{{$ctrl.provider.summary.CHANGE_TYPE}}</span><br>
		<br>
		<button type="button" class="btn btn-default" ng-if="$ctrl.showRollback" ng-click="$ctrl.rollback()">Rollback Provider</button>
		<button type="button" class="btn btn-default" ng-if="$ctrl.showSave" ng-click="$ctrl.save()">Save Provider</button>
	</div>

	<div class="providerBox">
		<info info="$ctrl.provider.info" info-previous="$ctrl.providerPrevious.info"></info>
	</div>

	<div class="providerBox">
		<address-list address-list="$ctrl.provider.addressList" address-list-previous="$ctrl.providerPrevious.addressList"></address-list>
		
		
	</div>
</div>